<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Edit Password</title>

<link rel="stylesheet" th:href="@{/css/add-password.css}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="container">

<div class="card">

<h2>

<i class="fa-solid fa-pen"></i>

Edit Password

</h2>

<form th:action="@{'/update-password/' + ${password.id}}" method="post">

<div class="input-group">

<label>Website Name</label>

<input
type="text"
name="websiteName"
th:value="${password.websiteName}"
required>

</div>

<div class="input-group">

<label>Website URL</label>

<input
type="text"
name="websiteUrl"
th:value="${password.websiteUrl}">

</div>

<div class="input-group">

<label>Username</label>

<input
type="text"
name="username"
th:value="${password.username}"
required>

</div>

<div class="input-group">

<label>New Password</label>

<div class="password-box">

    <input
            type="password"
            id="password"
            name="password"
            th:value="${decryptedPassword}"
            required>

    <button
            type="button"
            onclick="togglePassword()">

        <i class="fa-solid fa-eye"></i>

    </button>

</div>
</div>

<div class="input-group">

<label>Category</label>

<select name="category">

<option
th:selected="${password.category=='Personal'}">

Personal

</option>

<option
th:selected="${password.category=='Work'}">

Work

</option>

<option
th:selected="${password.category=='Social'}">

Social

</option>

<option
th:selected="${password.category=='Banking'}">

Banking

</option>

<option
th:selected="${password.category=='Shopping'}">

Shopping

</option>

<option
th:selected="${password.category=='Others'}">

Others

</option>

</select>

</div>

<div class="input-group">

<label>Notes</label>

<textarea
rows="4"
name="notes"
th:text="${password.notes}"></textarea>

</div>

<button class="save-btn">

<i class="fa-solid fa-floppy-disk"></i>

Update Password

</button>

</form>

</div>

</div>

<script>

function togglePassword(){

    let pass =
        document.getElementById("password");

    if(pass.type==="password"){

        pass.type="text";

    }

    else{

        pass.type="password";

    }

}

</script>

</body>

</html>