<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">

<title>Reset Password</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="container">

<h2>Reset Password</h2>

<p class="error"
   th:if="${error}"
   th:text="${error}">
</p>

<form th:action="@{/reset-password}" method="post">

<input
type="password"
name="password"
placeholder="New Password"
required>

<input
type="password"
name="confirmPassword"
placeholder="Confirm Password"
required>

<button type="submit">

Reset Password

</button>

</form>

</div>

</body>
</html>