<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>View Password</title>

<link rel="stylesheet"
      th:href="@{/css/view-password.css}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="container">

<div class="card">

<h2>

<i class="fa-solid fa-lock"></i>

Password Details

</h2>

<div class="row">

<label>Website</label>

<p th:text="${password.websiteName}"></p>

</div>

<div class="row">

<label>Website URL</label>

<p th:text="${password.websiteUrl}"></p>

</div>

<div class="row">

<label>Username</label>

<p th:text="${password.username}"></p>

</div>

<div class="row">

<label>Password</label>

<div class="password-box">

<input
type="password"
id="password"
th:value="${decryptedPassword}"
readonly>

<button
type="button"
onclick="togglePassword()">

<i class="fa-solid fa-eye"></i>

</button>

</div>

</div>

<div class="row">

<label>Category</label>

<p th:text="${password.category}"></p>

</div>

<div class="row">

<label>Notes</label>

<p th:text="${password.notes}"></p>

</div>

<div class="buttons">

<button
onclick="copyPassword()">

<i class="fa-solid fa-copy"></i>

Copy Password

</button>

<a href="/passwords">

Back

</a>

</div>

</div>

</div>

<script>

function togglePassword(){

const pass =
document.getElementById("password");

if(pass.type==="password"){

pass.type="text";

}
else{

pass.type="password";

}

}

function copyPassword(){

const pass =
document.getElementById("password");

navigator.clipboard.writeText(pass.value);

alert("Password Copied!");

}

</script>

</body>

</html>